{% extends 'base_page.html' %}


{% block links_base %}
<script src="http://127.0.0.1:8000/public/js/createSchedule.js" type="text/javascript"></script>
{% endblock links_base %}


{% set current_page = 'create_account' %}


{% block main_base %}
{% include 'errors_pop_up.html' %}
<div class="container d-flex justify-content-center align-items-center container-center-h-big">
    <div class="row w-100 justify-content-center">
        <div class="col-md-6 col-lg-8">
            
            <div class="card shadow-sm border-0 px-4 py-4 rounded-3">
                <div class="card-body">
                    
                    <h2 class="card-title text-center fw-bold mb-4 text-dark">Create schedule</h2>
                    
                    <form id="form-create-schedule" data-url-dest="http://127.0.0.1:8000/schedule/create">

                        {% for day_week in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                            <button class="btn btn-primary w-25 d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target=".block-day#{{day_week}}" aria-expanded="false" aria-controls="{{day_week}}">
                                {{ day_week }}
                                <i class="bi bi-caret-down ms-2"></i>
                            </button>

                            <div class="collapse mt-2 block-day" id="{{day_week}}">

                                <div class="mb-3 d-flex justify-content-center gap-2 mt-2">
                                    <input type="button" class="btn btn-success w-50" value="New Exercice" onclick="addBlockInputExercice(this)"/>
                                </div>

                            </div>

                            {% if not day_week == 'Sunday' %}
                                <hr/>
                            {% endif %}
                        {% endfor %}
                        
                        <div class="mb-3 d-flex justify-content-center gap-2 mt-3">
                            <button type="cancel" class="btn btn-danger btn-lg fw-semibold w-50" onclick="history.back()">Cancel</button>
                            <button type="button" class="btn btn-success btn-lg fw-semibold w-50" id="button-submit">Create</button>
                        </div>
 
                        <datalist id="exercice-enum-ref">
                            {% for exercice in exercices %}
                                <option value="{{exercice.name}}" data-id-value="{{exercice.id}}">{{exercice.name}}</option>
                            {% endfor %}
                        </datalist>
                        
                    </form>
                    
                </div>
            </div>
            </div>
    </div>
</div>
{% endblock main_base %}