{% extends 'base_page.html' %}


{% block links_base %}
<link href="http://127.0.0.1:8000/public/css/detailsExo.css" rel="stylesheet">
<script src="http://127.0.0.1:8000/public/js/checkAnExo.js" type="text/javascript"></script>
<script src="http://127.0.0.1:8000/public/js/redirectJs.js" type="text/javascript"></script>
{% endblock links_base %}


{% set current_page = 'create_account' %}


{% block main_base %}
{% include 'errors_pop_up.html' %}
<div class="container d-flex justify-content-center align-items-center container-center-h-big">
    <div class="row w-100 justify-content-center">
        <div class="col-md-6 col-lg-8">
            
            <div class="card shadow-sm border-0 px-4 py-4 rounded-3">
                <div class="card-body">
                    
                    <h2 class="card-title text-center fw-bold mb-4 text-dark">Details {{day_week}}</h2>

                    <input type="hidden" value="{{date_ask}}" id="date-ask"/>
                    
                    {% for exercice_to_do in exercice_to_dos %}
                        
                        <div class="exercice-to-do-container card card-body mt-2 
                                    {% if exercice_to_do.check %}exercice-to-do-checked{% endif %}" 
                             index-exo-to-do="{{exercice_to_do.id}}">
                            <div class="d-flex flex-row-reverse">
                                <button type="button" class="btn btn-success fw-bold" onclick="checkAnExo(this)">
                                    <i class="bi bi-check"></i>
                                </button>
                            </div>
                            <!-- mb-3 mt-3 -->
                            <div class="d-flex justify-content-center gap-2">
                                <div class="text-secondary w-25">Exercice</div>
                                <div class="w-25">{{exercice_to_do.exercice_name}}</div>
                            </div>
                            <div class="d-flex justify-content-center gap-2">
                                <div class="text-secondary w-25">Repetitions</div>
                                <div class="w-25">{{exercice_to_do.repetition}}</div>
                            </div>
                            <div class="d-flex justify-content-center gap-2">
                                <div class="text-secondary w-25">Series</div>
                                <div class="w-25">{{exercice_to_do.series}}</div>
                            </div>
                            <div class="d-flex justify-content-center gap-2">
                                <div class="text-secondary w-25">Weight Add</div>
                                <div class="w-25">{{exercice_to_do.additional_weight}} Kg</div>
                            </div>
                        </div>

                    {% endfor %}
                        
                    <form action="/checkExercice/checkWholeDay" method="POST" class="form-inline">
                        <div class="mb-3 d-flex justify-content-center gap-2 mt-3">
                            <button type="button" class="btn btn-danger btn-lg fw-semibold w-50" onclick="window.location.href='/schedule/printMonth?month_ask={{date_ask_month}}'">Cancel</button>
                            <button type="submit" class="btn btn-success btn-lg fw-semibold w-50" onclick="checkAllExoDay(this)">Check All</button>
                            <input type="hidden" name="date_exo" value="{{date_ask}}"/>
                        </div>
                    </form>
                    
                </div>
            </div>
            </div>
    </div>
</div>
{% endblock main_base %}