{% extends 'base_page.html' %}


{% block links_base %}
<script src="http://127.0.0.1:8000/public/js/redirectMenu.js" type="text/javascript"></script>
{% block links %}
{% endblock links %}
{% endblock links_base %}


{% block main_base %}
    <div class="container-fluid">
        <div class="row">
            
            <!-- main contend -->
            <main class="col-md-9 col-lg-10 p-4 container-center-h-short main-container">

                {% include 'errors_pop_up.html' %}
                
                {% block main %}
                {% endblock main %}

            </main>

            <!-- menu -->
            <aside class="col-md-3 col-lg-2 bg-white sidebar-right p-3 d-flex flex-column align-items-center h-100 navigation-menu">
                
                <div class="text-center my-2">
                    {% set url_profil_picture = request.session.get('user').url_profil_picture or 'default_user' %}
                    <img src="{{ url_for('public', path='img/userPfp/' ~ url_profil_picture ~ '.png') }}"
                         alt="Photo de profil" 
                         class="rounded-circle profile-img border border-3 border-primary shadow-sm">
                    <h5 class="mt-2 mb-0 text-dark fw-bold">
                        {{request.session.get('user').first_name}} 
                        {{request.session.get('user').last_name}}
                    </h5>
                    {% if request.session.get('user').role_name != 'client' %}
                    <small class="text-muted">
                        {{request.session.get('user').role_name}}
                    </small>
                    {% endif %}
                    <input type="hidden" value="{{request.session.get('user').id}}" id="user_id"/>
                </div>

                <hr class="w-100 my-2">

                <nav class="w-100 d-flex gap-2 align-items-start nav nav-pills flex-column">
                    <button class="btn btn-primary text-start w-100 border-0 
                                   {% if current_page == 'schedule' %}active{% endif %}" 
                                   type="button" 
                                   redirect-menu="schedule">
                        <i class="bi bi-calendar me-2"></i>
                        Schedules
                    </button>
                    <button class="btn btn-outline-secondary text-start w-100 border-0
                                   {% if current_page == 'create_schedule' %}active{% endif %}" 
                                   type="button"
                                   redirect-menu="create_schedule">
                        <i class="bi bi-calendar-plus me-2"></i>
                        New Schedules
                    </button>
                    <button class="btn btn-outline-secondary text-start w-100 border-0
                                   {% if current_page == 'statistics' %}active{% endif %}" 
                                   type="button"
                                   redirect-menu="statistics">
                        <i class="bi bi-graph-up me-2"></i>
                        Statistics
                    </button>
                    <button class="btn btn-outline-secondary text-start w-100 border-0
                                   {% if current_page == 'update_account' %}active{% endif %}" 
                                   type="button"
                                   redirect-menu="update_account">
                        <i class="bi bi-gear me-2"></i>
                        Parameters
                    </button>
                    <button class="btn btn-outline-danger text-start w-100 border-0" 
                                   type="button" 
                                   redirect-menu="logout">
                        <i class="bi bi-box-arrow-right me-2"></i>
                        Log Out
                    </button>
                </nav>

            </aside>

        </div>
    </div>
{% endblock main_base %}