{% extends 'nav_menu.html' %}


{% block links %}
<script src="http://127.0.0.1:8000/public/js/calendar.js" type="text/javascript"></script>
{% endblock links %}


{% set current_page = 'schedule' %}


{% block main %}
<div class="container py-5">
    <div class="card shadow-sm p-4 bg-white">
        
        <div class="row g-3 align-items-center mb-2">
            <div class="col-auto">
                <label for="month-picker" class="form-label fw-bold mb-0">Month :</label>
            </div>
            <div class="col-auto">
                <input type="month" id="month-picker" name="month-picker" class="form-control">
            </div>
        </div>

        <div class="row row-cols-7 text-center fw-bold text-white rounded-top py-2 g-0 header-calendar-days">
            <div>Monday</div>
            <div>Tuesday</div>
            <div>Wednesday</div>
            <div>Thursday</div>
            <div>Friday</div>
            <div>Saturday</div>
            <div>Sunday</div>
        </div>

        <div id="calendar-grid" class="row g-1 border border-top-0 rounded-bottom p-1 bg-light">
        </div>

    </div>
</div>
{% endblock main %}
