{% extends 'nav_menu.html' %}


{% block links %}
<script src="http://127.0.0.1:8000/public/js/calendar.js" type="text/javascript"></script>
<link href="http://127.0.0.1:8000/public/css/calendar.css" rel="stylesheet">
{% endblock links %}


{% set current_page = 'schedule' %}


{% block main %}
<div class="container py-5">
    <div class="card shadow-sm p-4 bg-white">
        
        <form id="form-actualise-schedule" action="" method="get">
            <div class="row g-3 align-items-center mb-2">
                <div class="col-auto">
                    <label for="month-picker" class="form-label fw-bold mb-0">Month :</label>
                </div>
                <div class="col-auto">
                    <input type="month" id="month-picker" name="month_ask" class="form-control" value="{{month_ask}}">
                </div>
            </div>
        </form>

        <div class="row row-cols-7 text-center fw-bold text-white rounded-top py-2 g-0 header-calendar-days">
            <div>Monday</div>
            <div>Tuesday</div>
            <div>Wednesday</div>
            <div>Thursday</div>
            <div>Friday</div>
            <div>Saturday</div>
            <div>Sunday</div>
        </div>

        <div id="calendar-grid" class="row g-1 border border-top-0 rounded-bottom p-1 bg-light">
            {% for i in range(days_skip_first_week + days_in_month) %}
                {% if i < days_skip_first_week %}
                    <div class="day-none border rounded m-1"></div>
                {% else %}
                    <div class="card day-card border rounded m-1 p-2 d-flex flex-column justify-content-between
                                {% if (i - days_skip_first_week + 1) == today_day and is_current_month %}today{% endif %}
                                {% if i % 7 > 4 %}week-end{% endif %}">
                        <div class="text-startday-number">
                            {{ i - days_skip_first_week + 1}}
                        </div>
                        <div class="text-end text-muted small line-under-day">
                            <div>
                                <i class="bi bi-check-lg"></i>
                            </div>
                            <div>
                                <i class="bi bi-three-dots"></i>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
</div>
{% endblock main %}
