{% extends 'nav_menu.html' %}


{% block links %}
<script src="http://127.0.0.1:8000/public/js/statistics.js" type="text/javascript"></script>
<script src="http://127.0.0.1:8000/public/chartJs/chart.js" type="text/javascript"></script>
<link href="http://127.0.0.1:8000/public/css/statistics.css" rel="stylesheet">
{% endblock links %}


{% set current_page = 'statistics' %}


{% block main %}
<div class="row justify-content-center statistics-container">
    <div class="col-md-8 col-lg-6" style="width: 80vw;">
        
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white text-center">
                <h4 class="mb-0">Kcalories burn this week</h4>
            </div>
            <div class="card-body">
                <canvas id="calorie-chart"></canvas>
            </div>
            {% for kcal in schedule %}
            <input type="hidden" class="kcal-day-value" value="{{ kcal }}"/>
            {% endfor %}
        </div>
    
    </div>
</div>
{% endblock main %}